
.wrapper {
  gap: 3rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 20rem));
}

/* @media screen and (min-width: 600px) {
  .wrapper{
    grid-template-columns: repeat(3, minmax(15rem, 20rem));
  }
} */
