
.card{
  display: flex;
  overflow: hidden;
  flex-direction: column;
  border-radius: 0.2rem;
  justify-content: space-between;
  transition: transform 200ms ease-in;
  box-shadow: 0 2px 16px black;
  
};

.card:hover{
  transform: scale(1.7);
}

.card__btn:hover{
  opacity: 0.5;
  color: black;
  cursor: pointer;
  transition: 200ms ease-in, color 200ms ease-in;
}

.card__image{
  height: 12rem;
  width: 100%;
  object-fit: cover;
}

.card__title{
  font-size: 20px;
  padding: 1rem;
}

.card__description{
 padding: 0 1rem; 
}

.card__btn{
  border: 0;
  color: #333;
  margin: 0.5rem;
  padding: 0.5rem;
  font-weight: 500;
  font-size: 0.9rem;
  font-family: inherit;
  align-items: center;
  background: transparent;
  justify-content: center;
  transition: background 200ms ease-in, color 200ms ease-in;
}

.priceDescription{
  width: 800;
  font-size: 18px;
}

.stockDescription{
  width: 600;
  font-size: 18px;
}
